{erl_opts, [debug_info, {encoding, utf8}]}.

{deps, [
    {cowboy, "2.10.0"},
    {jsx, "3.1.0"}
]}.

{relx, [
    {release, {switchback_blog, "1.0.0"}, [switchback_blog, sasl]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [{dev_mode, false}, {include_erts, true}]}
    ]}
]}.
